<div class="container mt-5 ">
    <h2 class="text-center heading">Apexify Advice</h2>
    
    
      <!-- Advice input field -->
      <div class="advice">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure adipisci temporibus magnam, similique, voluptates architecto ipsam corrupti explicabo sunt numquam fugiat ex! Atque corporis earum veniam vero ut, aperiam minus?
        Minima quam optio vero debitis quaerat reiciendis dolores incidunt, doloribus, quis, dignissimos placeat ea minus velit ipsum ipsa provident qui iusto pariatur dolorem architecto adipisci numquam exercitationem? Molestiae, nisi amet!
        Reprehenderit cumque incidunt, perferendis ipsam quas fugit laborum laboriosam nisi praesentium ratione obcaecati eum veritatis dolorem, vitae tempore id quam! Ex atque illo blanditiis aut, sed vel fuga dolorem numquam.
        Provident perferendis sit debitis culpa laudantium ipsam.</div>
      
      <div class="d-flex justify-content-around ">
        <a routerLink="/problemlogin"  class="btn btn-outline-primary">Problem Giver</a>
        <a  routerLink="/login" class="btn btn-outline-success">Problem Solver</a>
      </div>
   
  </div>
